@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
.page {
    font-family: 'TT Lakes';
    width: 100%;
    font-size: 16px;
}
.page__body{
    margin: 0;
    display: flex;
}
.body{
    margin: 0;
}      
.body__container{
    display: flex;
}
.page__body{
    width: 80%;
}



                    /* Header */
.header {
    display: flex;
    justify-content:space-between;
    /* Сделать динмическую */

    



    height: 88px;
    box-shadow: 0 1px 1px #D9FFF5;
    background-color: #FFFFFF;
}

.header__sub-container-1,
.header__sub-container-2{
    display: flex;
    align-items: center;
}

.header__item{
    margin: 8px;
    display: flex;
    justify-content: center;
}

.menu, .logo, .preferences, .search{
    flex-grow: 1;
}
.devider{
    border-right: 2px solid #EAEAEA;
    border-radius: 2px;
    width: 2px;
    height: 32px;
}
.devider-2{
    align-self: center;
}

                /* Main */

.main{
    width: 100%;
    margin-top: 1px;
    height: 100%;
    padding: 24px 16px;
    background-color:#F8F8F8;
}
.main__item{
    margin-bottom: 16px;
}
.title{
    font-family: 'TT Lakes Bold';
    display: flex;
    flex-direction: row;
}
.title__service{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
}
.title__main::before{
    position: relative;
    right: 16px;
    content: '';
    display: block;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    border-radius: 0 3px 3px 0;
}
.menu__list{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.menu__list::-webkit-scrollbar{
    width: 0;
}
.menu__item{
    text-decoration: none;
    color: #7E7E82;
    padding: 9px;
    border-radius: 6px;
    margin-right: 20px;
    white-space: nowrap;
    flex-wrap: nowrap;
    line-height: 24px;
}
.menu__item--active{
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;

}
.read-more__container{
    display: flex;
    flex-direction: row;
}
.read-more__link{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 500;
}
.image__containter{
    display: flex;
    justify-content: center;
    margin: 0;
}
.paragraph__content{
    color: #1B1C21;
    font-weight: bold;
    font-size:14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.title__main{
    display: flex;
}
.image{
    margin-top: 20px;
}
.menu{
    margin-bottom: 0;
}

@media screen and (max-width:calc(470px + 320px)) {
    .title .title__maxsize{
        display: none;
    }
    .page__body{
        flex-direction: column;
    }
    .header__sub-container-2 .medium-resolution{
        display: none;
    }
    .header__sub-container-1 .menu{
        order: -1;
    }
    .header__sub-container-1 .logo{
        order: 0;
    }
    .header__sub-container-1 .devider-1{
        order: 1;
    }
    .main .content-container-1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .content-container-1 .image{
        display: flex;
        margin-left: 0;
    }
    .paragraph .paragraph__content--visible-on{
        display: none;
    }
    .content-container-1 .content-info,
    .content-container-1 .image{
        width: 100%;
    }
    .image{
        margin-top: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: calc(768px + 320px)){
    .title .title__maxsize{
        display: none;
    }
    .page__body{
        flex-direction: column;
    }
    .header{
        width: 100%;
    }
    .menu, .logo{
        flex-grow: 0;
        justify-content: flex-start;
    }
    .search{
        flex-grow: 0;
        justify-content: flex-end;
    }
    .preferences{
        justify-content: flex-end;
    }
    .medium-resolution{
        display: flex;
    }
    .menu{
        order: -1;
    }
    .logo{
        order: 2;
    }
    .devider-1{
        order: 0;
    }
    .content-container-1{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .image{
        width: 50%;
        margin-left: 36px;
        margin-top: 19px;
    }
    .image__content{
        border-radius: 5px;        
        height: 100%;
        width: 100%;
    }
    .content-info{
        height: 100%;
        width:50%;
    }
   .paragraph__content--visible-on{
        display: block;
   }
    
}   
@media screen and (max-width: calc(468px + 320px)){
    .medium-resolution{
        display: none;
    }
}

@media screen and (min-width: calc(768px + 320px)) {
    .main{
        width: 98%;
    }
    .page__body{
        flex-direction: column;
    }
    .header {
        display: none;
    }
    .title__maxsize{
        display: flex;
    }
    .menu .menu__list{
        flex-wrap: wrap;
    }
    .maxsize__item{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        white-space: nowrap;
    }
    .title__main{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .main .title{
        justify-content: space-between;
    }
    .maxsize__item{
        margin-right: 32px;
    }
    .preference__icon, .search__icon{
        margin-left: 9px;
    }
    .title__maxsize{
        font-family: 'TT Lakes'
    }
    .info{
        font-weight: bold;
    }
    .content-container-1{
        display: flex;
        justify-content:space-between;
    }
    .content-info{
        width: 50%;
    }
    .image{
        margin-left: 36px;
        margin-right: 25px;
    }
    .paragraph__content--visible-on:after{
        content: ', что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.';
    }
}  

.info{
    text-decoration: none;
    color:black;
}
/* .request-status__link:after,
.repair-status__link:after{
    display : inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
}
.request-status__link:after{
    display: flex;
    align-items: center;
    justify-content: center;
    content : url(./images/group.svg);
}
.repair-status__link:after{
    display: flex;
    align-items: center;
    justify-content: center;
    content : url(./images/checkstatus.svg)
}
.request-status__link,
.repair-status__link{
    display: flex;
    align-items: center;
} */
.aside{
    width: 20%;
    display: inline-block;
    min-width: 320px;
}
