@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes showLogo {
    0% {opacity: 0};
    100%{opacity: 1}
}

* > button{
    border: 0;
    padding: 0;
    font-family: "TT Lakes";
    font-size: 16px;
    background-color: inherit;
}
.page {
    font-family: 'TT Lakes';
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.body{
    height: 100%;
    margin: 0;
}
.body__container{
    height: 100%;
}
.aside{
    height: 100%;
    display: inline-block;
    min-width: 320px;
}
.aside__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18.3px 24px;
}
.left-side{
    display: flex;
    align-items: center;
}
.close-icon{
    margin-right: 16.7px;
}
.aside{
    background-color: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.title-text{
    color:  #7E7E82;
    font-weight: 600;
}
.aside__list{
    z-index: 1;
}
.aside__list .title::before{
    position: relative;
    content: '';
    display: block;
    background-color: #41F6D7;
    width: 4px;
    height: 32px;
    border-radius: 0 3px 3px 0;
    margin-right: 20px;
}
.list-item{
    display: block;
    margin: 32px 24px;
    color: #1B1C21;
}
.list-item:hover{
    filter:sepia(10%);
    color: #FF3E79;
    animation: myAnim 0.7s linear 0s 1 normal forwards;
}
.aside__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logos{
    margin: 0 0 16px 24px;
}
.logos__item{
    margin-right: 16px;
}
.aside__footer > .footer__item{
    margin-left: 24px;
}
.aside__footer{
    transform: translate(0px, calc(100vh - 743px));
    background-color: #FFFFFF;
    z-index: 2;
}
.contacts{
    font-family: 'TT Lakes Bold';
}
.languages__item-active{
    color: gray;
}
.mail{
    margin-bottom: 12px;
}
.contacts{
    margin-bottom: 40px;
}
.languages{
    margin-bottom: 32px;
}
.logo-icon{
    animation: showLogo 1s ease 0s  normal forwards;
}