@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Thin';
    src: url('../fonts/TTLakes-Thin.eot');
    src: url('../fonts/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Thin.woff') format('woff'),
    url('../fonts/TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
                                /*  MAIN  */
.page {
    background-color: #F8F8F8;
    height: 100vh;
    width: 100vw;
    font-family: "TT Lakes";
}
.body{
    margin: 0;
}
.services .brands .hidden{
    display: none;
}
.active {
    display: flex !important;
}
.transform{
    transform: rotate(0.5turn)
}

                                /*  BRANDS */
.brands{
    width: 100%;
    margin: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.brands__item{
    margin: 12px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    align-items: center;
    align-content: center;
    width: 224px;
    height: 72px;
    justify-content:space-between;
}
                                /* SERVICES */
.services__header{
    color: #7E7E82;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}
.services__header{
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    padding: 16px 0 16px 24px;
}
                                /* ICONS & LOGOS & BUTTONS*/
button{
    font-family: 'TT Lakes';
    appearance: none;
    border: 0;
    background-color: inherit;
}
.arrow-icon{
    appearance: none;
    border: 0;
    margin:16px;
    padding: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    content: url('../images/arrow.svg');
    padding: 12px;
    border: 2px solid #FF3E79;
    background-color: #FFFFFF;
}
.brands__logo{
    margin-left: 16px;
}
button:hover{
    cursor: pointer;   
}
.read-more{
    display: flex;
    align-items: center;
    margin:12px 0 0 24px;
}

                                /* CROSS & MEDIA */
@media screen and (max-width: 999px){
    .brands .med-size{
        display: none;
    }
}